/*  ------------------------------------  */
/* CSS Reset - Courtesy of Piccalilli https://piccalil.li/blog/a-modern-css-reset/ */
/*  ------------------------------------  */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*  ------------------------------------  */

body {
    font-family: 'Archivo', sans-serif;
}

header,section {
  padding: 2px 5px;
  display: flex;
}

div.container{
  max-width: 1200px;
  margin: auto;
  padding: 25px 0px;
  display:flex;
}

.column50{
  flex:50%;
  margin: 0px 15px;
}

.column33{
  flex:33%;
  margin: 0px 15px;
}

.column66{
  flex:66%;
  margin: 0px 15px;
}

.center{
  display: flex;
  align-items:center;
  justify-content: center;
}

/* header {
  /* border: black 1px solid; */
/* } */ 

section.grey {
  background-color: #f7f7f7;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Archivo Black', sans-serif;
    color: #800080;
    font-variant: small-caps;
}

h1 {
  text-align: center;
  font-size: 58px;
  margin-bottom: 15px;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

img {
  min-width: 150px;
  border-radius: 5px;
  height:auto;
}

.purple {
  font-weight: bold;
  color: #800080;
}

p {
  text-align: justify;
  margin-bottom: 7px;
  font-size: 18px;
}

li{
  font-size:18px;
}

#header-img {
  max-width: 500px;

}

/* .display-none {
  display: none;
} */

.grid {
  display: flex
}

.column {
  padding: 5px;
}

#blurb {
  color: #5c585a;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

.organisation-item{
  width: 400px;
  height: 200px;
  padding: 10px 15px;
  margin: 0px 25px;
  border: black 1px solid;
}

.organisations {
  justify-content: space-between;
  margin: 0px;
}