/* =============
1. Typography
2. Structure & Layout
3. Header & Navigation
4. Links & Interactivity
5. Media Queries
============= */

/* =============
Typography
============= */

* {
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #202124;
}

h1,h2,h3,h4,h5,h6 {
  color: #800080;
  font-variant: small-caps;
}

h1 {
  font-size: 3.5rem;
  margin-top:0;
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 0em;
  padding-bottom: 0em;
}

p {
  font-size: 1.2rem;
  margin: 1rem 0
  
}

ul {
  list-style: none;
  font-size: 1.2rem;
  padding-left: 1em
}

ul li::before {
  content: "\2022";
  color: #800080;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.accent {
  color: #800080;
  font-weight: 600;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0.2em;
  text-align: center;
  color: #5c585a;
}

/* =============
Structure & Layout
============= */

section {
  padding: 1em 0
}

img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

hr.rounded {
  border-top: 2px solid #800080;
  border-radius: 5px;
  width: 60%;
  margin-bottom: 0;
  display: none;
}

.main-image {
  border-radius: 30px;
}

.container {
  max-width: 1200px;
  width: 92.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
} 

.columns {
  display: flex;
  justify-content: space-between;
}

.section-content {
  order: 1
}

.section-decoration {
  order:-1;
}


/* =============
Header, Footer & Navigation
============= */

header {
  background-color: #f5f5f5;
  display:flex;
  flex-direction: column;
  text-align: center;
}

.header-logo {
  align-items: center;
}

footer{
  text-align: center;
  align-content: center;
  background-color: #5c585a;
  color: whitesmoke;
}

#footer{
  padding-top: 5px;
  padding-bottom: 1px;
  font-size: 16px;
}


nav {
  font-weight: bold;
  color: #202124;
  margin:0px;
}

nav ul {
  font-size: 1.5rem;
  list-style: none;
  padding: 0px;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

nav li {
  margin-bottom: 0.5em;
}


nav li::before {
  /* Removes custom bullets */
  content:"" 
}

nav a,
nav a:visited {
  text-decoration: none;
  color: #202124;
  padding-bottom: 0.2em;
}

nav a:hover,
nav a:focus {
  color: #800080;
  border-bottom: 3px solid #800080;
}

.current-page {
  border-bottom: 1px solid #202124;
  text-transform: uppercase;
}




/* =============
Links & Interactivity
============= */

a,
a:visited {
  color: #001957;
}

a:hover,
a:focus {
  color: #D4A12A;
}

.hidden {
  display: none;
}


/* =============
Form
============= */
form * {
  font-style: inherit;
  font-size: 1.125rem;
  width: 75%;
}

input, textarea {
  font-style:inherit;
  margin-bottom: 0.5em;
  padding: 0.2em;
  border: 1px solid #5c585a;
  border-radius: 3px;

  transform: scale(1);
  transition: 250ms;
}

input:focus,
textarea:focus {
  transform: scale(1.05)  
}

.form-button {
  background-color: #800080;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;;
  border:0;
  border-radius: 5px;
  padding: 0.5em 0.2em;

  transform: scale(1);
  transition: 250ms;
}

.form-button:focus,
.form-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

textarea {
  resize: none;
}

/* =============
Media Queries
============= */

@media (min-width: 769px) {
  img {
    max-height: 550px;
  }

  hr.rounded {
    display:block;
  }

  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .section-content {
    width: 48%
  }

  .section-decoration {
    width: 48%;
    align-items: center;
  }

  .header-titles {
    width: 48%;
  }

  .navigation {
    width: 48%;
  }

  nav ul {
    flex-direction: row;
    justify-content: end;
    text-align: end;
  }

  nav li {
    padding-left: 1em;
  }

  nav li:first-child {
    padding-left: 0
  }
}


@media (min-width: 1250px) {
  .container {
    width: 100%;
  }
}